# dependencies
/node_modules

# Next.js
/.next
/out
*.tsbuildinfo

# local environment variables
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode/
